*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
    user-select: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background-image: url('./pc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0s;
}

img{
    aspect-ratio: 1/1;
    object-fit: contain;
    filter: drop-shadow(1.5px 1.5px 6px #aaa);
}
h1{
    filter: drop-shadow(1.5px 1.5px 6px #aaa);
}
#opponent-choice{
    /*background: #fcda45;*/
    margin-top: /*1*/0px;
}
#your-choice{
    /*background: #4fdc5e;*/
    margin-top: 20px;
}
section{
    backdrop-filter: blur(5px);
    border-radius: 50px;
    box-shadow:
        inset 10px 10px 20px #fff,
        10px 10px 20px #333;
}
#choices{
    width: 304px;
    height: 90px;
    /*background: #f4a478;*/
    border-top: 2.5px #000000cc solid;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

#choices img{
    width: 80px;
    height: 80px;
}

.choiBACK{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.choices{
    width: 240px;
    height: 240px;
    border-radius: 25px;
}

@keyframes pop{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 500px){
    body{
        background-image: url("./mobile.jpg");
    }
    .choices{
        width: 180px;
        height: 180px;
    }
}