@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background-image: url('./pc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0s;
}

#home{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px 0 0 0;
    background: #555;
}

img{
    aspect-ratio: 1/1;
    object-fit: contain;
    filter: drop-shadow(1.5px 1.5px 6px #aaa);
}
h1{
    filter: drop-shadow(1.5px 1.5px 6px #aaa);
}
#opponent-choice{
    /*background: #fcda45;*/
    margin-top: /*1*/0px;
}
#your-choice{
    /*background: #4fdc5e;*/
    margin-top: 20px;
}
section{
    backdrop-filter: blur(5px);
    border-radius: 50px;
    box-shadow:
        inset 10px 10px 20px #fff,
        10px 10px 20px #333;
}
#choices{
    width: 304px;
    height: 90px;
    /*background: #f4a478;*/
    border-top: 2.5px #000000cc solid;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

#choices img{
    width: 80px;
    height: 80px;
}

.choiBACK{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.choices{
    width: 240px;
    height: 240px;
    border-radius: 25px;
}

@keyframes pop{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 500px){
    body{
        background-image: url("./mobile.jpg");
    }
    .choices{
        width: 169px;
        height: 159px;
    }
    #choices{
        width: 233px;
        height: 79px;
    }
    #your-choice{
        margin-top: 10px;
    }
    #choices img{
        width: 69px;
        aspect-ratio: 1;
    }
}

.cash{
    position: absolute;
    left: 0;
    top: 0;
    background: #222222cc;
    padding: .5rem;
    border-radius: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cash img{
    margin-right: .5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    filter: none;
}

.coins{
    position: absolute;
    color: red;
    z-index: 5;
    user-select: none;
    left: 135px;
    top: 17px;
    transform: translate(-50%, -50%);
    animation: money .15s ease-in;
}

@keyframes money{
    from{
        transform: translate(-50%, -50%);
        opacity: 1;
        top: 17px;
    }
    to{
        transform: translate(-50%, -50%);
        opacity: 0;
        top: -10px;
    }
}