*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    color: #fff;
}
#anim{
    width: 200px;
    aspect-ratio: 1/1;
}
.activ{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    /*border: red solid 2px;*/
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: .5rem;
    gap: 10px;
    background: #222222cc;
}
main{
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}
.Lime{color: lime;}
.Yellow{color: yellow;}
.Orange{color: orange;}
.Red{color: red;}
.DarkRed{color: darkred;}