*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /*border: red 5px solid;*/
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #333;
    background-image: url('./pc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#board{
    width: 372px;
    height: 372px;

    background: #cdc1d5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    position: relative;

    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out; /* Add smooth transitions */
}

.tile.new-tile{
    animation: pop 0.2s ease-in-out;
}

@keyframes pop{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 500px){
    body{
        background-image: url("./mobile.jpg");
    }
    #board{
        width: 246px;
        height: 246px;
        border: 3px solid #bbada0;
    }
    .tile{
        height: 60px;
        width: 60px;
        border: 3px solid #bbada0;
    }
}

.x2{
    background: #eee4da;
    color: #757371;
}
.x4{
    background: #ece0ca;
    color: #757371;
}
.x8{
    background: #f4b17a;
    color: #fff;
}
.x16{
    background: #f59575;
    color: #fff;
}
.x32{
    background: #f57c5f;
    color: #fff;
}
.x64{
    background: #f65d3b;
    color: #fff;
}
.x128{
    background: #edce71;
    color: #fff;
}
.x256{
    background: #edcc63;
    color: #fff;
}
.x512{
    background: #edc651;
    color: #fff;
}
.x1024{
    background: #eec744;
    color: #fff;
}
.x2048{
    background: #ecc230;
    color: #fff;
}
.x4096{
    background: #fe3d3d;
    color: #fff;
}
.x8192{
    background: #ff2020;
    color: #fff;
}